<!-- include header  -->
<%-include('include/_header')%>
<!-- include header  -->

<!-- main section  -->
<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex justify-between">
      <div class="filter">
        <a href="/"><i class="fas fa-angle-double-left"></i> All Users</a>
      </div>
    </div>
    <div class="form-title text-center">
      <h2 class="text-dark">Update User</h2>
      <span class="text-light">Use the below form to update an account</span>
    </div>

    <!-- form  -->
    <!-- form handling -->
    <form method="POST" id="update_user">
      <div class="new_user">
        <div class="form-group">
          <label for="name" class="text-light">Name</label>
          <input type="hidden" name="id" value="<%=user._id%>" />
          <input
            type="text"
            value="<%=user.name%>"
            name="name"
            placeholder="Anubhav"
          />
        </div>
        <div class="form-group">
          <label for="Email" class="text-light">Email</label>
          <input
            type="text"
            name="email"
            value="<%=user.email%>"
            placeholder="example@gmail.com"
          />
        </div>
        <div class="form-group">
          <label for="gender" class="text-light">Gender</label>
          <div class="radio inline">
            <input type="radio" name="gender" value="male"
            <%=user.gender=="male"?'checked':""%> id="radio-2" />
            <label for="radio-2" class="radio-label">male</label>
          </div>
          <div class="radio inline">
            <input type="radio" name="gender" value="female" id="radio-3"
            <%=user.gender=="female"?'checked':""%>/>
            <label for="radio-3" class="radio-label">female</label>
          </div>
        </div>
        <div class="form-group">
          <label for="status" class="text-light">Status</label>
          <div class="radio inline">
            <input type="radio" name="status" value="active" id="radio-4"
            <%=user.status=="inactive"?'checked':""%>/>
            <label for="radio-4" class="radio-label">Active</label>
          </div>
          <div class="radio inline">
            <input type="radio" name="status" value="inactive" id="radio-5"
            <%=user.status=="inactive"?'checked':""%> />
            <label for="radio-5" class="radio-label">Inactive</label>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn text-dark update">Save</button>
        </div>
      </div>
    </form>

    <!--/ form handling -->

    <!-- /form  -->
  </div>
</main>
<!-- main section  -->

<!-- include footer  -->
<%-include('include/_footer')%>
<!-- include footer  -->
